/* line 12, ../sass/partials/_html5reset.sass */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* line 21, ../sass/partials/_html5reset.sass */
article, aside, figure, footer, header, hgroup, nav, section { display: block; }

/* line 27, ../sass/partials/_html5reset.sass */
img, object, embed { max-width: 100%; }

/* line 31, ../sass/partials/_html5reset.sass */
html { overflow-y: scroll; }

/* line 37, ../sass/partials/_html5reset.sass */
ul { list-style: none; }

/* line 40, ../sass/partials/_html5reset.sass */
blockquote, q { quotes: none; }

/* line 43, ../sass/partials/_html5reset.sass */
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

/* line 47, ../sass/partials/_html5reset.sass */
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* line 54, ../sass/partials/_html5reset.sass */
del { text-decoration: line-through; }

/* line 57, ../sass/partials/_html5reset.sass */
abbr[title], dfn[title] { border-bottom: 1px dotted black; cursor: help; }

/* line 62, ../sass/partials/_html5reset.sass */
table { border-collapse: collapse; border-spacing: 0; }

/* line 65, ../sass/partials/_html5reset.sass */
th { font-weight: bold; vertical-align: bottom; }

/* line 68, ../sass/partials/_html5reset.sass */
td { font-weight: normal; vertical-align: top; }

/* line 72, ../sass/partials/_html5reset.sass */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

/* line 80, ../sass/partials/_html5reset.sass */
input, select { vertical-align: middle; }

/* line 83, ../sass/partials/_html5reset.sass */
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

/* line 89, ../sass/partials/_html5reset.sass */
input[type="radio"] { vertical-align: text-bottom; }

/* line 91, ../sass/partials/_html5reset.sass */
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }

/* line 94, ../sass/partials/_html5reset.sass */
.ie6 input { vertical-align: text-bottom; }

/* line 97, ../sass/partials/_html5reset.sass */
select, input, textarea { font: 99% sans-serif; }

/* line 100, ../sass/partials/_html5reset.sass */
table { font-size: inherit; font: 100%; }

/* line 106, ../sass/partials/_html5reset.sass */
a:hover, a:active { outline: none; }

/* line 109, ../sass/partials/_html5reset.sass */
small { font-size: 85%; }

/* line 112, ../sass/partials/_html5reset.sass */
strong, th { font-weight: bold; }

/* line 115, ../sass/partials/_html5reset.sass */
td, td img { vertical-align: top; }

/* line 120, ../sass/partials/_html5reset.sass */
sub, sup { font-size: 75%; line-height: 0; position: relative; }

/* line 124, ../sass/partials/_html5reset.sass */
sup { top: -0.5em; }

/* line 126, ../sass/partials/_html5reset.sass */
sub { bottom: -0.25em; }

/* line 130, ../sass/partials/_html5reset.sass */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* line 134, ../sass/partials/_html5reset.sass */
.clickable, label, input[type=button], input[type=submit], button { cursor: pointer; }

/* line 138, ../sass/partials/_html5reset.sass */
button, input, select, textarea { margin: 0; }

/* line 142, ../sass/partials/_html5reset.sass */
button { width: auto; overflow: visible; }

/* line 147, ../sass/partials/_html5reset.sass */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* line 150, ../sass/partials/_html5reset.sass */
.ie6 html { filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

/* line 154, ../sass/partials/_html5reset.sass */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }

/* line 159, ../sass/partials/_html5reset.sass */
.clearfix:after { clear: both; }

/* line 161, ../sass/partials/_html5reset.sass */
.clearfix { zoom: 1; }

/* line 16, ../sass/style.sass */
body { font: 13px Helmet, Freesans, sans-serif; }

/* line 23, ../sass/style.sass */
body, select, input, textarea { color: #333333; }

/* line 31, ../sass/style.sass */
a, a:visited { color: #0033ff; }
/* line 34, ../sass/style.sass */
a:hover, a:active, a:visited:hover, a:visited:active { color: #6699ff; }

/* line 38, ../sass/style.sass */
::-moz-selection { background: #fcd700; color: white; text-shadow: none; }

/* line 42, ../sass/style.sass */
::selection { background: #fcd700; color: white; text-shadow: none; }

/* line 48, ../sass/style.sass */
a:link { -webkit-tap-highlight-color: #fcd700; }

/* line 68, ../sass/style.sass */
ins { background-color: #fcd700; color: black; text-decoration: none; }

/* line 72, ../sass/style.sass */
mark { background-color: #fcd700; color: black; font-style: italic; font-weight: bold; }
